:root {
  --color-60: #fbfff8;
  --color-60-analogous: #efffef;
  --color-30: #7cdd81;
  --color-30-analogous: #93edc4;
  --color-10: #44bb35;
}


body {
  background-color: var(--color-60);
  font-family: Cantarell, "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
}

.centered-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#source-button {
  z-index: 5;
  position: fixed;
  right: 10px;
  bottom: 40px;
  padding: 6px;
  border-radius: 15px;

  background-color: var(--color-30);
  cursor: pointer;
  border-color: var(--color-30-analogous);

  transition: 0.3s ease;
}

#source-button:not(:hover) {
  opacity: 0.8;
}

.bigpicture {
  position: relative;
  margin-bottom: 40px;
  z-index: -1;

  display: flex;
  justify-content: center;
}
.bigpicture > div {
  display: flex;
  flex-direction: column;
  color: var(--color-60);
  color: black;
  position: absolute;
  bottom: 10%;
  font-size: xx-large;
}
.bigpicture > img {
  width: 100%;
  opacity: 1;

  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.bigpicture > div > * {
  margin: auto;
}

/* .background-picture { */
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */
/*   z-index: -1; */

/*   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, */
/*     from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0))); */
/* } */

/* .background-picture-reverse-mask { /1* https://stackoverflow.com/a/72817520/15746803 *1/ */
/*   position: absolute; */
/*   width: 100%; */
/*   z-index: -1; */

/*   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, */
/*     from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2))); */
/* } */

/* .highlights-header { */
/*   box-shadow: inset 0px -1px #d0d7de; */
/*   margin-top: 40px; */
/*   margin-bottom: 20px; */
/*   width: 80%; */
/* } */

/* .highlights { */
/*   display: flex; */
/*   margin-left: 10px; */
/*   justify-content: space-around; */
/* } */

/* .vertical-highlights { */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-content: space-around; */
/* } */

.projects-collection {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 80%), 1fr)); /* TODO hardcoded */
  grid-gap: 20px;
}

.projectTile {
  /* height: 300px; /1* TODO hardcoded *1/ */
  width: 100%;
  position: relative;
  font-size: large;
  display: block;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;

  /* Overwrite 'a' styles */
  /* text-decoration: none; */
  /* color: inherit; */
}
.projectTile:hover {
  /* color: inherit; */
}
.projectTile > img {
  width: 100%;
  /* height: 60%; */
  /* margin-bottom: 20px; */
}
.projectTile > div {
  /* height: 10%; */
  /* position: relative; */
  /* background-color: #444; */
  /* transition: 0.3s ease; */
  position: absolute;
  bottom: 3px; /* why is this nessescary? */
  left: 0;
  padding-left: 2%;
  padding-right: 2%;
  width: calc(100% - 2% - 2%);
  height: 24%; /* TODO fix met em*/
  background: rgba(0 0 0 / 75%);
  overflow: hidden;
  transition: 0.3s ease;
}
.projectTile-header {
  font-size: xx-large;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  color: var(--color-10);
  position: relative;
}
.projectTile-header::after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  filter: invert(1); /* Makes the icon white. */
}
.projectTile-description {
  font-size: x-large;
  padding: 10px;
  margin: 0;
  color: var(--color-30);
}
.projectTile:hover > img {
}
.projectTile:hover > div {
  height: 100%; /* TODO on mobile you cannot hover */
}

.haskell {
  margin-top: 100px;
  font-size: normal;
  text-align: center;
}
.haskell > img {
  height: 3em;
}

h1 {
  color: var(--color-10);
}
h2 {
  color: var(--color-30)
}

.navbar-container  {
  position: sticky;  /* stickyyy */
  z-index: 10;
  background-color: var(--color-60-analogous);
  padding: 13px;
  padding-bottom: 16px;
  top: 0;
}

.navbar-body {
  font-size: x-large;
  height: 34px;
  box-shadow: inset 0 -1px #d0d7de;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--color-10);
  transition: 0.3s ease;
}
a:hover {
  color: var(--color-30);
}

a[target="_blank"]::after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==");
  margin: 0 3px 0 5px;
}
a[target="_blank"].externalIconException::after {
  content: none;
}

#current-link {
  font-weight: bold;
}

/* .horizontal-stack { */
/*   display: flex; */
/*   margin-left: 10px; */
/*   justify-content: space-around; */
/* } */

/* .sidebar { */
/*   background-color: var(--color-30); */
/*   padding-left: 20px; */
/*   padding-right: 20px; */
/* } */
/* .sidebar > h2 { */
/*   margin-top: 0; */
/*   color: var(--color-10); */
/* } */

/* .source { */
/*   margin: 2%; */
/* } */

.gallery {
  place-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* TODO See branch Picture-Processing for an automatic way */
.photoFrame:nth-child(1),
.photoFrame:nth-child(2),
.photoFrame:nth-child(11) {
  grid-row: span 2;
}
.photoFrame {
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);

  display: flex;
  justify-content: center;
}
.photoFrame:hover {
  transform: scale(1.1);
  border-radius: 0;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 80%);
  z-index: 69;
}

#enlargedImg {
  display: none;
  max-width: min(2000px, 80%);
  max-height: min(2000px, 80%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 420;
}

